@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Century Gothic";
}
wrapper {
    margin: 0 auto;
    display: block;
    width: 80%;
}
.logo {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}

#nav {
    display: none;
}
#nav ul {
    font-family: "Century Gothic";
    color: #000000;
    font-size: 2em;
}


#nav ul a {
    text-decoration: none;
    color: #000000;
    list-style-type: none;
}
#nav ul a:hover  {
    text-decoration: none;
    color: #FF0004;
    list-style-type: none;
    font-style: italic;
}
wrapper main h1 {
    color: #FF0004;
    width: 90%;
    font-family: "Century Gothic";
    font-size: 3em;
}
section {
    width: 100%;

}
section form input {
    padding: 16px;
    margin: 16px;

}

section form label {
    font-size: 20px;
    display: block;
}
.mainmenu {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #FFFFFF;
    border-bottom: thin solid #000000;
}

.mainmenu ul a {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-size: 40px;
    color: #000000;
    margin-right: 60px;
}
.mainmenu ul a:hover  {
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    font-size: 40px;
    color: #FF0004;
    font-style: italic;
}
body wrapper h2 {
    font-family: Century, "Century Schoolbook";


}
.sec2 {
    text-align: left;
}
.sec2 p {
    text-align: left;
}
header {
    background-position: 0% 0%;
    background-size: cover;
}
.logo {
    width: 250px;
    height: auto;
}









@media (min-width:50em){
.mainmenu {
    display: inline-block;

}
#icon {
    visibility: hidden;
    display: none;
}
#nav {
    display: none;

}
section form div {
    display: inline-block;
    margin-right: 100px;
}
main section form {
    text-align: center;
}
section form section {
    text-align: left;
}
.sec2 {
    text-align: left;
}
.logo {
    display: block;
    height: 100%;
}
header {
    background-image: url(pizza1.jpg);
    background-size: cover;
}









}

@media (min-width:100em){
.mainmenu {
    display: inline-block;


}
#icon {
    visibility: hidden;
    display: none;
}
#nav {
    display: none;

}
.logo {
    display: inline-block;
}









}
